<!DOCTYPE html>
<html>
    <title>Shiridi</title>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/afce916556.js" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: rgb(54, 146, 150);">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/static/image/logo.png" height="50px" width="40px">
                Shiridi
            </a>
        </nav>

        <div class="d-flex flex-row justify-content-center pt-5">
            <img src="/static/image/shiridi2.png" height="600px" width="980px" >
        </div>

        <div class="d-flex flex-row justify-content-center pt-5 pb-5">
            <img src="/static/image/shiridi3.png" height="600px" width="980px">
        </div>    

        <h1 class="card text-center">SHIRIDI</h1>
        <p class="card card-body text-center">
            Shirdi is a town in the state of Maharashtra, in western India. 
            It's known as the former home of revered spiritual leader Sai Baba,
            and as a major pilgrimage site. Devotees gather daily at the Sai Baba
            Temple complex to honor his legacy. Here, the Samadhi Mandir shrine 
            has an ornate marble statue of Sai Baba, alongside his tomb. Close by
            are Dwarkamai, a mosque where Sai Baba once lived, and tree-lined Lendi Garden.
            A famous small town situated in Ahmednagar district of Maharashtra,
            Shirdi is considered to be one of the sacred places in India.
            Also known as the Land of Sai, it is famous for the shrine
            of Shirdi Sai Baba which is the main attraction in the city.
        </p>
        <div class="d-flex flex-row justify-content-center pb-3">
            <button class="btn bg-warning">Back</button>
        </div>  
    </body>
</html>